.env
.env.local
.env.production
deploy/frontend/weblive-config.local.js
deploy/coturn/turnserver.local.conf

# Dependencies
node_modules

# Build output
dist
.angular

# OS/editor noise
.DS_Store
.vscode/*
!.vscode/extensions.json
