NODE_ENV=development
PORT=3000
FRONTEND_URL=http://localhost:4200
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=weblive2026
DATABASE_USER=weblive
DATABASE_PASSWORD=weblive_dev_password
DATABASE_SSL=false
